@model Blog
<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Slayt Güncelle</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" asp-action="Update" method="post" enctype="multipart/form-data">
                            <input asp-for="@Model.ID" type="hidden" />
                            <input asp-for="@Model.Picture" type="hidden" />
                            <div class="item form-group">
                                <label class="col-form-label col-sm-2" asp-for="@Model.Title"></label>
                                <div class="col-sm-10 ">
                                    <input asp-for="@Model.Title" class="form-control" />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-sm-2" asp-for="@Model.Description"></label>
                                <div class="col-sm-10 ">
                                    <input asp-for="@Model.Description" class="form-control" />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-sm-2" asp-for="@Model.Picture"></label>
                                <div class="col-sm-10 ">
                                    <input asp-for="@Model.Picture" class="form-control" type="file" accept="image/png, image/gif, image/jpeg" />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-sm-2" asp-for="@Model.Description"></label>
                                <div class="col-sm-10 ">
                                    <textarea asp-for="@Model.Description" class="editor" rows="10" cols="450" maxlength="500"></textarea>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-sm-2" asp-for="@Model.BlogDetails"></label>
                                <div class="col-sm-10 ">
                                    <textarea asp-for="@Model.BlogDetails" class="editor" rows="10" cols="450" maxlength="5000"></textarea>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success">Güncelle</button>
                                    <a class="btn btn-primary" asp-action="Cancel">İptal</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /page content -->